<div class="row" id="mentores">
  <h1 class="titulo_mentores">Quienes estarán al pendiente de ti <span class="muted">Coaches</span></h1>
  <div class="row center">
      <%#= partial 'coaches/may' %>
      <%= partial 'coaches/nora' %>
      <%= partial 'coaches/monica' %>
      <%= partial 'coaches/fernanda' %>
  </div>
  <div class="row center">
      <%= partial 'coaches/vivi' %>
      <%= partial 'coaches/cecilia' %>
      <%= partial 'coaches/ellen' %>
  </div>
</div>
