<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<title>Startup Weekend León</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Startup Weekend León">
<meta name="author" content="Gize Bonilla, Ismael G Marín">
<!-- Le styles -->
<%= bootstrap_assets %>
<link rel="stylesheet" media="screen, projection" type="text/css" href="/application.css">
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
<!-- NAVBAR   ================================================== -->
<%= partial :navigation %>
<!-- Carousel ================================================== -->
<%= partial :carousel %>
<div class="container marketing">
  <!-- ABOUT    ================================================== -->
  <%= partial :about %>
  <!-- PROGRAMA    ================================================== -->
  <hr class="featurette-divider">
  <%= partial :programa %>
  <!-- SEDE     ================================================== -->
  <hr class="featurette-divider">
  
  <%= partial :sede %>

  <!-- FACILITADOR     ================================================== -->
  <hr class="featurette-divider">
  
  <div class="row featurette">
	  
    <h1  class="titulo_mentores span12">Facilitador para <span class="muted">Startup Weelend León</span></h1>
    <!-- GUS      ================================================== -->
   	 <%= partial('jueces/gustavo') %>
  </div>
  <!-- JUECES     ================================================== -->
  <hr class="featurette-divider">
  
  <div class="row center featurette">
    <h1  class="titulo_mentores span12">Jueces para <span class="muted">Startup Weelend León</span></h1>
    <!-- Ophelia Pastrana     ================================================== -->
    <%= partial('jueces/ophelia') %>
    <!-- Christian Aguirre     ================================================== -->
    <%= partial('jueces/christian') %>
    <!-- David Padilla     ================================================== -->
    <%= partial('jueces/david') %>
  </div>

  <!-- COACHES     ================================================== -->
  <hr class="featurette-divider">
  
  <div class="row center featurette">
    <h1  class="titulo_mentores"> Los que nos ayudarán : <span class="muted">Coaches</span></h1>
    <div class="row ">
      <!-- May Alba     ================================================== -->
      <%= partial('coaches/may') %>
      <!-- Frank Denbow     ================================================== -->
      <%= partial('coaches/frank') %>
      <!-- Sinue Garcia     ================================================== -->
      <%= partial('coaches/sinue') %>
      <!-- Fernanda Guerra        ================================================== -->
      <%= partial('coaches/fernanda') %>
      <!-- Alberto Padilla     ================================================== -->
      <%= partial('coaches/alberto') %>
      <!-- Francisco Viramontes  ================================================== -->
      <%= partial('coaches/francisco') %>
    </div>
  </div>
  <!-- ORGANIZADORES     ================================================== -->
  <hr class="featurette-divider">
	
  <%= partial :organizadores %>

  <!-- Boletos -->
  <hr class="featurette-divider">
   
   <div class="row">
       <h1 class="span12 titulo_mentores"> Se parte del movimiento:<span class="muted"> adquiere tu boleto</span></h1>
	
       <div style="width:100%; text-align:left;">
	  
   	  <iframe  src="https://www.eventbrite.com/tickets-external?eid=4955424809&ref=etckt&v=2" frameborder="0" height="485" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
	  
   	  	<div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Sell Tickets Online</a> <span style="color:#ddd;">through</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a>
	  
   	  </div>
       </div>
   </div>
    

  <!-- PATROCINADORES     ================================================== -->
  <hr class="featurette-divider">
  
  <%= partial :patrocinadores %>

  <!-- FOOTER -->
  <hr class="featurette-divider">
  
  <footer>
    <p class="pull-right"><a href="#">Regresar al Menú</a></p>
    <p>&copy; 2013 Desarrollado por . &middot; <a href="http://www.twitter.com/igmarin">Ismael Marín</a> & <a href="http://www.twitter.com/xixebombilla">Gize Bonilla</a> &middot;</p>
  </footer>
  
</div>
<!-- /.container -->
<!-- Le javascript
    ================================================== -->
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="/application.js"></script>
<script src="javascripts/holder.js"></script>
</body>
</html>
